@tailwind base;
@tailwind components;
@tailwind utilities;



.react-tel-input .form-control {
    @apply !w-full py-6 !text-base bg-black;

}


.react-tel-input .flag-dropdown {
    @apply bg-black
}

.otp-container {
    display: flex;
    justify-content: center;
    height: auto;
    margin-left: 20px;
}

.otp-container input {
    height: 100px;
    outline: none;
    border: none;
    border-radius: 8px;
    background-color: black;
    opacity: 0.6;
    color: white;
    font-size: 25px;
    margin: -10px;
    text-align: center;
}


.PhoneInputCountryIcon {
    background-color: transparent !important;
    /* Change the background color of the flag icon */
}

.PhoneInputCountryIcon--square {
    background-color: transparent !important;
    /* Change the background fill color of the flag container */
}

.label-class {
    background-color: transparent;
}

body {
    font-family: "Jost", sans-serif;
}



